<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Open Deploy</title>
  <link href="//styles/manifesto.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="content">
%s
  </div>
</body>
</html>
